<script>
    window.blogList = <%- JSON.stringify(blogList) %>
</script>
<script src="/js/listPage.js"></script>
<button class="cursor-pointer" id="filter-btn-ai" onclick="filterBlogsByAI()" type="button">Filter By AI Tag</button>
<div id="blogs-container">
    <% blogList.forEach(blog => { %>
        <div class="blog-card" >
            <h1><%= blog.title %></h1>
            <p><%= blog.tag %></p>
        </div>
    <% }) %>
</div>
