<h1 class="text-3xl font-bold underline">Home Page</h1>
<p>Testing things out!</p>
<a href="/listPage">List Page</a>
<button type="button" class="text-amber-400" id="post-button">POST BUTTON</button>
<% const user = jsGlobals?.user || null %>
<% if (user.isAdmin) {%>
    <p id="admin-welcome-message">Welcome, admin</p>
<% } %>
<div>
    <%- include("./templates/modal.ejs") %>
</div>
<script>
    document.getElementById("post-button").addEventListener("click",()=>{
        fetch("/api/trigger-action", {method:"POST"})
    })
</script>
