<h1 class="text-3xl font-bold underline">Home Page</h1>
<p>Testing things out!</p>
<button type="button" class="text-amber-400" id="post-button">POST BUTTON</button>
<script>
    document.getElementById("post-button").addEventListener("click",()=>{
        fetch("/api/trigger-action", {method:"POST"})
    })
</script>
